<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>

    <product-form (addProductAction)="addProductHome($event)"></product-form>


    <div class="product-list">
        <div *ngFor="let el of products.data;let i=index">
            <product-item [product]="el" [index]="i" (deleteProductAction)="deleteProductHome($event)"></product-item>
        </div>
    </div>


    <div>
        <hr>
        <span>Toplam Ürün: {{ products.totalCount }} </span> <br>
        <span>Son Eklenen Ürün: {{ products.lastAddedName }} </span> <br>
        <span>Son Silinen Ürün: {{ products.lastDeletedName }} </span>
    </div>


    <h2>
        Ayın Ürünü
    </h2>
    <product-item [showDeleteButton]="false" [product]="bestProduct" [index]="0"></product-item>

    <a routerLink="example"> Örnekler sayfasına gidin</a>
</div>
