body {
    background-color: #f4f4f4;
}

button.btn {
    background-color: gray;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    cursor: pointer;
}

.btn.btn-delete {
    background-color: #d9493f;
}
