<div class="product-form">
    <!-- <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value, productForm.valid)"> -->
    <form [formGroup]="productForm" (ngSubmit)="addProductPF(productForm.value, productForm.valid)">

        <label for="name"> Ürün Adı: </label>
        <input type="text" id="name" formControlName="name" required>

        <label>
            Ürün Fiyatı:
            <input type="number" formControlName="price" (click)="cleanPrice()">
        </label>


        <button type="submit">Gönder</button>
        <br>
        <small [hidden]="productForm.controls.name.valid">Ürün adı en az 3 karakter, en fazla 50 karakter
            olmalıdır.</small>
        <br>
        <small [hidden]="productForm.controls.price.valid">Ürün fiyatı 1000 den çok olamaz.</small>
        <div *ngIf="productForm.controls.name.invalid && !productForm.controls.name.pristine">
            <p *ngIf="productForm.controls.name.errors.minlength">Password should be at least 6 characters.</p>
        </div>
    </form>
</div>
dfgdgfdfdfdg
